
input{
    text-align: center;
    text-decoration-color: black;
    width: 30vw;
    height: 7vh;
    border-radius: 5px;
    margin-top: 2vh;
    border: transparent;
    background-color: rgb(235, 235, 235);
    font-size: 3vh;
}
.center{
    margin-top: 10vh;
    margin-left: 0vw;
    text-align: center;

}
button{

    text-align: center;
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    margin-top: 1vh;
    border: transparent;
    background-color: rgb(36, 104, 231);
    font-size: 4vh;
    color: rgb(255, 255, 255);
}

h3,h4{
    margin-top: 2vh;
    color: gray;
    font-style: inherit;
}
h3{  
    color:blue;
    font-size: 4vh;
    font-style:sans-serif;
}
h4{
    font-size: 3vh;

}